body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, orange 60%, cyan);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Ensure full viewport height */
}

.weatherForm {
    margin: 20px;
    text-align: center;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    max-width: 90%;
    transition: border-color 0.3s ease;
}

.cityInput:focus {
    outline: none;
    border-color: hsl(122, 39%, 50%);
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: hsl(122, 39%, 40%);
}

.card {
    background: linear-gradient(145deg, purple 40%, blue 80%);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 350px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
    color: #fff;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 100%, 0.8);
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
    color: #fff;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
    color: #fff;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

/* Responsive Design */
@media (max-width: 768px) {
    .cityInput {
        width: 250px;
        font-size: 1.8rem;
    }

    button[type="submit"] {
        width: 100%;
        font-size: 1.8rem;
    }

    .card {
        width: 90%;
    }

    .cityDisplay, .tempDisplay {
        font-size: 3rem;
    }

    .weatherEmoji {
        font-size: 6rem;
    }
}

